.modal.dark .modal-content{
    background-color: var(--bg-dark-first) !important;
    color: var(--text-dark-first)
}
.modal.dark button.btn-close{
    filter: invert(1);
}
.modal.dark .modal-body{
    background-color: var(--bg-dark-second);
}

.modal.dark .comment-item{
    background-color: var(--bg-dark-third);
}

.modal.dark .creation-date{
    color: var(--text-dark-third);
}

.modal.dark  .comment{
    color: var(--text-dark-second);
}