:root {
    --btn-color: #6048F8;
}

.card.dark:hover {
    color: var(--text-dark-second);
}

.card.light:hover {
    color: var(--text-light-first);
}

.card {
    border-radius: 20px !important;
    padding: 1.8rem;
    border: 2px solid #c3c6ce !important;
    transition: 0.5s ease-out;
    position: relative;
}

.card img {
    width: 100%;
    aspect-ratio: 5/6;
    border-radius: 12px;
}

.card .btn {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: var(--btn-color);
    color: var(--text-dark-first);
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.card:hover {
    border-color: var(--btn-color) !important;
}

.card.selected {
    border-color: rgb(250, 58, 0) !important;
}

.card.selected .btn {
    background-color: rgba(250, 58, 0, 0.616);
}

.card:hover .btn {
    transform: translate(-50%, -15%);
    opacity: 1;
}

.card:hover .card-title {
    color: var(--btn-color);
}

.card .price {
    font-weight: 600;
    font-size: 1.8rem;
}

/* Dark */
.card.dark {
    background-color: var(--bg-dark-third);
    color: var(--text-dark-third);
}

.card.dark:hover {
    box-shadow: 0 4px 18px 0 var(--btn-color);
}

.card.light {
    color: var(--text-light-second);
}

/* Light */
.card.light:hover {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}